* {
  font-family: 'Benton-Sans';
}

body {
  margin: 0;
  padding: 0;
}

.ui.menu {
  background-color: #4A4F54;
  height: 72px;
  border-radius: 0;
  margin-bottom: 25px;
}

.ui.menu .header.item {
  width: 215px;
  padding: 0;
}

.Menu-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.ui.menu .item {
  color: white;
  font-family: 'Benton-Sans';
  font-weight: 400;
  font-size: 16px;
}

.ui.menu .item:hover {
  color: #999999!important;
}

.ui.menu .active.item {
  color: #999999;
}

.App-back-button {
  color: white;
  float: left;
}

.App-logout-button {
  float: right;
}

.App-section {
  width: 860px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
}

.App-section-heading {
  display: inline-block;
  margin: auto;
}

.App-error-message {
  width: 100%;
  text-align: center;
  display: inline-block;
  margin: auto;
}

.ui.container .ui.image {
  width: 1.1em;
  padding-bottom: 5px;
}

.ui.container .ui.header {
  font-size: 24px;
}
