[packages]
flask = '==1.0.2'
gevent = '==1.3.7'
gunicorn = "==19.9.0"
sqlalchemy = '==1.2.17'
# test_utils must be installed outside of dev-packages because of https://github.com/pypa/pipenv/issues/2330
pynear = {git = "https://github.com/nearprotocol/nearcore.git",ref = "36df368413f3e7efaa55f7776daeb6510312809e",subdirectory = "pynear",editable = true,extras = ["test_utils"]}
schematics = {git = 'https://github.com/azban/schematics.git',ref = '280bdf7bfe721a5db58cc8e891ba3fcec17b8e07',editable = true}
near-debugger-api = {editable = true,path = "."}

[dev-packages]
'delegator.py' = '==0.1.1'
pytest = '==4.3.0'
retrying = '==1.3.3'
